* { box-sizing: boder-box; }

body {
  background: pink;
}

button {
  height: 25px;
  line-height: 25px;
  padding: 2px 10px;
}

li {
  list-style: none;
}

button.button-primary {
  height: 38px;
  margin-left: 10px;
  line-height: 38px;
}

.container {
  max-width: 360px;
  margin: 10% auto;
  padding: 20px;
  background: white;
  box-shadow: 2px 2px 2px #333;
}

form input[type="text"] {
  max-width: 69%;
  width: 100%;
}

ul li {
  border-bottom: 1px solid #ccc;
}

ul li:last-child {
  border: none;
}

.complete,
.remove {
  text-transform: uppercase;
  margin-left: 5px;
}

.complete:hover {
  border-color: limegreen;
}

.remove:hover {
  border-color: tomato;
}

.completed {
  text-decoration: line-through;
}

.details {
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  text-align: center;
}

